.header-navbar {
  position: relative;

  display: grid;
  align-items: center;

  justify-items: end;

  &__btn {
    // display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 50px;
  
    transform: translate(-50%, -50%);
    @media (max-width: 767.8px) {
      display: block;
    }
  }
  &__list {
    display: grid;
    justify-content: end;

    width: 100%;

    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    @include unlist($m: 0 -10px 0 0);
    @media (max-width: 767.8px) {
      position: absolute;
      top: 100%;
      right: 20px;

      display: none;

      margin: 0;
      padding: 0;

      list-style: none;

      text-align: right;

      background-color: rgba(68, 89, 110, 0.9);
      box-shadow: -3px 3px 20px -10px black;
    }
  }
  &__link {
    display: block;

    padding: $gap 10px;

    transition: color 0.5s;

    font-size: 1.125rem;
  }
  @media (max-width: 767.8px) {
    padding: 10px 20px;
  }
}
.header-navbar__link:hover {
  color: $color-accent;
}
@media (max-width: 767.8px) {
  .header-navbar__item {
    margin: 20px 10px;
  }
}

.header-navbar__btn:before,
.header-navbar__btn:after,
.header-navbar__btn div {
  display: block;

  height: 3px;
  margin: 7px 0;

  content: "";
  transition: 0.5s;

  border-radius: 3px;
  background: #ffffff;
}
.header-navbar__btn:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.header-navbar__btn:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.header-navbar__btn:hover div {
  transform: scale(0);
}
